@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

:root {
  /* ### Primary */

  --Cyan: hsl(179, 62%, 43%);
  --Cyan-light: hsl(179, 35%, 66%);

  --Bright-Yellow: hsl(71, 73%, 54%);

  /* ### Neutral */

  --Light0Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}
body {
  background-color: var(--Light0Gray);
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 8px;
  /*background-color: black;
  */
  -webkit-border-radius: 20px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 0px 14px 1px #00000024;
}

.item {
  padding: 30px;
}
.item-one {
  background-color: white;
  grid-area: 1 / 1 / 2 / 3;
}
.item-one h2 {
  color: var(--Cyan);
  font-weight: 700;
  margin-bottom: 15px;
}
.item-one h3 {
  color: var(--Bright-Yellow);
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1rem;
}
.item-one p {
  color: var(--Grayish-Blue);
  font-size: 1rem;
  line-height: 1.5rem;
}
.item-two {
  background-color: var(--Cyan);
}
.item-two h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
}
.item-two p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 10px;
}
.item-two p span {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}
.item-two .button {
  text-align: center;
  width: 100%;
  padding: 15px;
  background-color: var(--Bright-Yellow);
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 30px;
  font-weight: 700;
  box-shadow: 0px 4px 10px 1px #00000024;
}
.item-three {
  background-color: var(--Cyan-light);
}
.item-three h3 {
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.item-three p {
  font-size: 14px;
  color: #f7f7f7;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  /* .item-one {
    grid-area: 1 / 1 / 2 / 3;
  } */
  .item-three,
  .item-two {
    grid-row: 2;
  }
}
